@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
	--primary-color: rgb(52, 124, 44);
	--secondary-color: #ffffff;
	--box-shadow-color: rgba(13, 86, 0, 1);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: black;
}

body {
	background-color: var(--primary-color);
}

.start-button, .stop-button {
	border: none;
	border-radius: 0.3rem;
	padding: 1rem 1.5rem;
	cursor: pointer;
}

.wrapper {
	width: 80vw;
	max-width: 500px;
	min-width: 300px;
	padding: 2.5rem 1.5rem;
	background-color: var(--secondary-color);
	border-radius: 1rem;
	box-shadow: 0 1rem 3rem var(--box-shadow-color);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.game-container {
	display: grid;
	position: relative; 
	width: 100%;
	gap: 1rem;
	grid-template-columns: repeat(3, auto);
	perspective: 800px;
}

.information-container {
	text-align: right;
	margin-bottom: 1.2rem ;
}

.information-container span {
	font-weight: 600;
}

.card-container {
	position: relative;
	max-width: 10em;
	max-height: 8em;
	width: 20vw;
	height: 20vw;
	cursor: pointer;
	margin: 0 auto;
	transform-style: preserve-3d;
	transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-container:focus {
	outline: 5px solid black;
}

.card-backside, .card-frontside, .card-image {
	position: absolute;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid black;
	backface-visibility: hidden;
	top: 0;
	left: 0;
}

.card-backside {
	background-color: rgb(22, 135, 2);
	font-size: 3rem;
	font-weight: 600;
	color: black;
}

.card-frontside {
	background-color: var(--secondary-color);
	transform:rotateY(180deg)
} 

.flipCard {
	transform: rotateY(180deg);
}

.card-image {
	padding: 0.2rem;
	object-fit: contain;
}

.card-container.flipped .card-backside {
	transform: rotateY(180deg);
}
.card-container.flipped .card-frontside {
	transform: rotateY(0deg);
}

.matched {
	transform: rotateY(0deg);
}

.controls-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: var(--primary-color);
	top: 0;
}

.stop-button {
	font-size: 1.1rem;
	display: block;
	margin: 1.1rem auto 0 auto;
	background-color: black;
	color: var(--secondary-color);
}

.start-button {
	font-size: 1.3rem;
	box-shadow: 0 0.6rem 2rem var(--box-shadow-color);
}

.hide {
	display: none;
}

#result {
	text-align: center;
}

#result h2 {
	font-size: 2.5rem;
}

#result h4 {
	font-size: 1.8rem;
	margin: 0.5rem 0 1rem 0;
} 